<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header-meta.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="pages">
        <div class="container">
            <div class="section-header">
                <h3 class="header">
                    <span class="text-heading">Dashboard </span>
                    <!-- <div class="btn-header">
                        <ul class="btn-header-link">
                            <li class=""><a href="#"><span class="fa fa-download icons"></span> <span
                                        class="text">Download</span></a></li>
                            <li class=""><a href="#"><span class="fa fa-envelope-o icons"></span> <span
                                        class="text">Email</span></a></li>
                        </ul>
                    </div> -->
                </h3>
            </div>

            <div class="marketinfo-block">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="account-wrapper-outer">
                            <div class="heading">Equity <small>Updated on 16/04/2021</small></div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="price-card">
                                            <div class="price-heading">Account Value</div>
                                            <span class="new-price"><span class="price">3,999 L</span></span>
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="price-card sub-icons">
                                            <div class="price-heading"><i
                                                    class="fa fa-circle icons text-green"></i>Equity Holding</div>
                                            <span class="new-price"><span class="price">3,999 L</span></span>
                                        </span>
                                        <span class="price-card sub-icons">
                                            <div class="price-heading"><i
                                                    class="fa fa-circle icons text-green"></i>Mutual fund</div>
                                            <span class="new-price"><span class="price">3,999 L</span></span>
                                        </span>
                                        <span class="price-card sub-icons">
                                            <div class="price-heading"><i class="fa fa-circle icons text-green"></i>Cash
                                                Balance</div>
                                            <span class="new-price"><span class="price">3,999 L</span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="person">Arun Kumar gupta</div> -->
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="watch-wrapper-outer">
                            <div class="heading">Market Watch</div>
                            <div class="content">
                                <span class="price-card">
                                    <div class="price-heading text-uppercase">Nifty 50</div>
                                    <span class="new-price"><span class="price">-3,999</span><span
                                            class="percent text-danger">(-4.01%) <i
                                                class="fa fa-caret-down icons"></i></span> </span>
                                </span>
                                <span class="price-card">
                                    <div class="price-heading text-uppercase">Sensex</div>
                                    <span class="new-price"><span class="price">3,999</span><span
                                            class="percent text-success">(-4.01%) <i
                                                class="fa fa-caret-up icons"></i></span> </span>
                                </span>
                                <span class="price-card">
                                    <div class="price-heading text-uppercase">Nifty 50</div>
                                    <span class="new-price"><span class="price">-3,999</span><span
                                            class="percent text-danger">(-4.01%) <i
                                                class="fa fa-caret-down icons"></i></span> </span>
                                </span>
                                <span class="price-card">
                                    <div class="price-heading text-uppercase">Sensex</div>
                                    <span class="new-price"><span class="price">3,999</span><span
                                            class="percent text-success">(-4.01%) <i
                                                class="fa fa-caret-up icons"></i></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="note-wrapper-outer">
                            <div class="heading">Quote Of week</div>
                            <div class="content text-justify">"Nifty View (15650) – Nifty index has witnessed decent
                                profit taking from its recent top i.e. 15901 levels. Bank Nifty has been a major
                                contributor to this decline as it is under performing from past couple of sessions.
                                Going ahead, decisive fall and sustenance below 15600/550 spot levels can bring
                                excessive pressure on Nifty index and open the gates for 15400 and lower levels. Hence,
                                short term traders are advised to aggressively book long positions below that mark."
                            </div>
                            <!-- <div class="person">Arun Kumar gupta</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>