<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header-meta.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="pages">
        <div class="container">
            <div class="section-header with-margin">
                <h3 class="header">
                    <span class="text-heading">Hi, Himanshu </span>
                    <!-- <div class="btn-header">
                        <ul class="btn-header-link">
                            <li class=""><a href="#"><span class="fa fa-download icons"></span> <span
                                        class="text">Download</span></a></li>
                            <li class=""><a href="#"><span class="fa fa-envelope-o icons"></span> <span
                                        class="text">Email</span></a></li>
                        </ul>
                    </div> -->
                </h3>
            </div>
            <div class="marketinfo-block">
                <div class="account-wrapper-outer">
                    <div class="heading">Equity <small>Updated on 16/04/2021</small></div>
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="price-card">
                                            <div class="price-heading">Invested Ammount</div>
                                            <span class="new-price"><span class="price">3,999 </span></span>
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <span class="price-card sub-icons">
                                            <div class="price-heading"><i
                                                    class="fa fa-circle icons text-green"></i>Market Value
                                            </div>
                                            <span class="new-price"><span class="price">3,999 </span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span class="price-card">
                                            <div class="price-heading">Unrealised Profit</div>
                                            <span class="new-price"><span class="price">3,999 </span></span>
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- <span class="price-card sub-icons">
                                        <div class="price-heading"><i
                                                class="fa fa-circle icons text-green"></i>Equity Holding</div>
                                        <span class="new-price"><span class="price">3,999 L</span></span>
                                    </span> -->
                                        <span class="price-card sub-icons">
                                            <div class="price-heading"><i
                                                    class="fa fa-circle icons text-green"></i>Ledger Bal.
                                            </div>
                                            <span class="new-price"><span class="price">3,999 </span></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="person">Arun Kumar gupta</div> -->
                </div>
            </div>
            <div class="marketinfo-block with-icon-card">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-cards">
                            <div class="icons"><img src="images/avatars/ledger-report.svg" /></div>
                            <div class="cards-contents">
                                <div class="tittle">Ledger Report</div>
                                <div class="sub-header">View Report <i class="fa fa-arrow-right"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-cards">
                            <div class="icons"><img src="images/avatars/holdings-report.svg" /></div>
                            <div class="cards-contents">
                                <div class="tittle">Holdings Report</div>
                                <div class="sub-header">View Report <i class="fa fa-arrow-right"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-cards">
                            <div class="icons"><img src="images/avatars/profit-and-loss.svg" /></div>
                            <div class="cards-contents">
                                <div class="tittle">P&L Report</div>
                                <div class="sub-header">View Report <i class="fa fa-arrow-right"></i> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-cards">
                            <div class="icons"><img src="images/avatars/transaction-roport.svg" /></div>
                            <div class="cards-contents">
                                <div class="tittle">Transaction Report</div>
                                <div class="sub-header">View Report <i class="fa fa-arrow-right"></i> </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-cards">
                            <div class="icons"><img src="images/avatars/download-roport.svg" /></div>
                            <div class="cards-contents">
                                <div class="tittle">Download Report</div>
                                <div class="sub-header">View Report <i class="fa fa-arrow-right"></i> </div>
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>