<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header-meta.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="pages">
        <div class="container">
            <div class="section-header">
                <h3 class="header">
                    <span class="text-heading">Portfolio Report <small>Report as on 16/04/2021</small></span>
                    <!-- <div class="btn-header">
                        <ul class="btn-header-link">
                            <li class=""><a href="#"><span class="fa fa-download icons"></span> <span
                                        class="text">Download</span></a></li>
                            <li class=""><a href="#"><span class="fa fa-envelope-o icons"></span> <span
                                        class="text">Email</span></a></li>
                        </ul>
                    </div> -->
                </h3>
            </div>

            <div class="invested-block">
                <ul class="header-link row">
                    <li class="col-sm-4"><span class="price-card">
                            <div class="price-heading">Total Realised P&L</div>
                            <span class="new-price"> <i class="fa fa-rupee-sign icon"></i> <span
                                    class="price">3,999</span><span class="percent">(-4.01%)</span></span>
                        </span></li>
                </ul>
            </div>
        </div>
        <%- include('../partials/portfolio-roport.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>
   

</body>

</html>