<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header-meta.ejs') %>
</head>

<body>

    <%- include('../partials/header.ejs') %>
    <div class="pages"></div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>