<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header-meta.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="pages">
        <div class="container">
            <div class="section-header">
                <h3 class="header">
                    <span class="text-heading">Transaction Report &nbsp; <small>  as on 16/04/2021</small></span>
                    <!-- <div class="btn-header">
                        <ul class="btn-header-link">
                            <li class=""><a href="#"><span class="fa fa-download icons"></span> <span
                                        class="text">Download</span></a></li>
                            <li class=""><a href="#"><span class="fa fa-envelope-o icons"></span> <span
                                        class="text">Email</span></a></li>
                        </ul>
                    </div> -->
                </h3>
            </div>
        </div>
        <%- include('../partials/transaction-roport.ejs') %>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>

</html>