<div class="container">
    <div class="form-page clearfix">
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <div class="form-group">
                    <label for="segmentYear" class="control-label">Statement</label>
                    <select name="" class="form-control control-select-div" id="segmentYear">
                        <option value="2016-2017" data-show="enable-equity" data-id="contract-note">Contract note
                        </option>
                        <!-- <option value="2016-2017" data-value="disabled-equity" data-disabled="false">Annual global statement</option> -->
                        <option value="2016-2017" data-show="enable-equity" data-id="sauda-bill">Sauda bill</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="form-group enable-equity contract-note">
                    <label for="segmentYear" class="control-label">Segment</label>
                    <select name="" class="form-control control-inputs" id="">
                        <option value="" selected="selected" data-value="disabled-equity" data-disabled="true">Equity
                        </option>
                        <option value="" data-value="disabled-equity" data-disabled="false">Commodity</option>
                    </select>
                </div>
                <div class="form-group enable-equity sauda-bill nodisplay">
                    <label for="segmentYear" class="control-label">Segment</label>
                    <select name="" class="form-control control-inputs" id="">
                        <option value="" selected="selected" data-value="disabled-equity" data-disabled="false">Equity
                        </option>
                        <option value="" data-value="disabled-equity" data-disabled="false">Derivative</option>
                        <option value="" data-value="disabled-equity" data-disabled="false">Commodity</option>
                        <option value="" data-value="disabled-equity" data-disabled="false">Currency</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group disabled-equity">
                    <label for="segmentYear" class="control-label">financial year</label>
                    <select name="" class="form-control" disabled="disabled" id="segmentYear">
                        <% for (var i =14; i <=21;  i++ ) { %>
                        <option value="2016-2017">20<%= i %>-20<%= i+1 %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="col-sm-5 col-xs-12">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="toDate" class="control-label">Start Date</label>
                            <div class="input-icon input-icon-right">
                                <i class="fa fa-calendar icons"></i>
                                <input type="text" class="form-control pickDate" id="toDate" placeholder="DD/MM/YYYY">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label for="toDate" class="control-label">End Date</label>
                            <div class="input-icon input-icon-right">
                                <i class="fa fa-calendar icons"></i>
                                <input type="text" class="form-control pickDate" id="fromDate" placeholder="DD/MM/YYYY">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="col-sm-1 col-xs-12">
                <div class="form-group with-btn">
                    <button class="btn btn-theme hoverable waves-effect btn-block waves-light">Submit</button>
                </div>
            </div>
        </div>
        <!-- <div class="categories-artical with-bg with-margin pull-right">
            <div class="btn-header">
                <ul class="btn-header-link">
                    <li class=""><a href="#"><span class="fa fa-download icons"></span> <span
                                class="text">Download</span></a>
                    </li>
                    <li class=""><a href="#"><span class="fa fa-envelope-o icons"></span> <span
                                class="text">Email</span></a>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="categories-artical with-bg">
        <h3 class="header-sec">Contract note : 2020 -21 , 18-08-2021
    </div>
    <div class="categories-cards">
        <div class="row">
            <% for(var j=0; j < 20; j++) { %>
            <div class="col-sm-2">
                <div class="download-wrapper-outer">
                    <div class="content with-date">
                        <div class="cdate"><%= j+1*3 %></div>
                        <span class="cdate-card">
                            <div class="cday">August</div>
                            <div class="cyear">2020</div>
                        </span>
                    </div>
                    <ul class="btn-header-link">
                        <li class=""><a class=" btn-round" href="#" title="Send Email" data-toggle="tooltip"
                                data-placement="top"><span class="fa fa-envelope-o icons"></span></a>
                        </li>

                        <li class=""><a class=" btn-round" href="#" title="Excel" data-toggle="tooltip"
                                data-placement="top"><span class="fa fa-file-excel icons"></span></a>
                        </li>
                        <li class=""><a class=" btn-round" href="#" title="PDF" data-toggle="tooltip"
                                data-placement="top"><span class="fa fa-file-pdf icons"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- <div class="categories-footer">
    <div class="jubbo-block text-center">
        <div class="info-img"><img src="images/file.png"></div>
        <h5 class="header">Report as on 16/04/2021</h5>
        <div class="categories-btns">
            <button class="btn btn-default hoverable waves-effect  waves-light"><i class="fa fa-download icons"></i>
                &nbsp; Download</button>
            <button class="btn btn-theme hoverable waves-effect waves-light"><i class="fa fa-envelope icons"></i>
                &nbsp; Send Email</button>
        </div>
    </div>
</div> -->