<div class="siteNavbar">
  <div class="navbar navbar-default" id="navbartop">
    <div class="container">
      <div class="navbar-header">
        <a href="/index.html" class="navbar-brand is-img">
          <img src="images/logo.svg" />
        </a>
        <button class="navbar-toggle btn-sidenav" type="button" data-activates="slide-out"> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="index.html">Dashboard</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Reports <span class="fa fa-angle-down icons-caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Ledger Report</a></li>
            <li><a href="holdings-report.html">Holdings Report</a></li>
            <!-- <li><a href="mtf-holdings-report.html">MTF Holding</a></li> -->
            <li><a href="profit-and-loss.html">P&L Report</a></li>
            <li><a href="transaction-roport.html">Transaction Report</a></li>
            <li><a href="download-roport.html">Download Report</a></li>
          </ul>
        </li>
        <!-- <li class="icons-text"><a href="#"><span class="fa fa-search icons"></span></a></li> -->
        <!-- <li class="icons-text"><a href="#"><span class="fa fa-user-circle icons"></span></a></li> -->
        <!-- <li class="dropdown icons-text">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><span class="fa fa-user-circle icons"></span> <span
              class="fa fa-angle-down icons-caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <div class="navbar-btn">
        <button type="button" class="btn-borderd btn-borderd-theme btn-borderd-sm hoverable" data-toggle="modal"
          data-target="#postGetquote">Create Profile</button>
        <button type="button" class="btn-borderd btn-borderd-theme btn-borderd-sm hoverable" data-toggle="modal"
          data-target="#postGetquote">Create Group</button>
      </div> -->
    </div>
  </div>
</div>

<div id="slide-out" class="side-nav">
  <ul class="sidebar-navigation">
    <li><a href="index.html">Ledger Report</a></li>
    <li><a href="holdings-report.html">Holdings Report</a></li>
    <li><a href="realised-profit-and-loss.html">Realised P&L</a></li>
    <li><a href="UnRealised-profit-and-loss.html">UnRealised P&L</a></li>
    <li><a href="UnRealised-profit-and-loss.html">Search</a></li>
    <li><a href="UnRealised-profit-and-loss.html">Profile</a></li>
  </ul>
</div>
<%# include('site-modals.ejs') %>